h1 {color: #51F598;
       font-family: Curlz MT;
       font-size: 55px;}
h3 {color: #70BCFA;
       font-family: Curlz MT;
       font-size: 35px;
       clear: left;}
img{width: 25%;
       display: block;}
